$grid-gutter: 2%;
$col-count: 12;

%row {
  @extend %clearfix;
  @include rem(margin, 0 0 $baseline);
}

.row {
  @extend %row;
}

@mixin grid($cols) {
  float: left;
  width: 100%;
  padding: 0;
  min-height: 1px;
  
  @include breakpoint(charlie) {
    width: ((100% - (($cols - 1) * $grid-gutter)) / $cols);
    margin-right: $grid-gutter;
  }

  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }

}

/* Grid Utility Classes */
@for $i from 1 through $col-count {
   .#{grid}-#{ $i } {
      @include grid($i)
   }
}